[submodule "libraries/PCA9685-Arduino"]
	path = libraries/PCA9685-Arduino
	url = https://github.com/ArduinoMinas/PCA9685-Arduino.git
[submodule "libraries/VarSpeedServo"]
	path = libraries/VarSpeedServo
	url = https://github.com/arduinominas/VarSpeedServo.git
[submodule "libraries/Servo"]
	path = libraries/Servo
	url = https://github.com/ArduinoMinas/Servo.git
[submodule "libraries/johnny-five"]
	path = libraries/johnny-five
	url = https://github.com/rwaldron/johnny-five.git
